@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 97%;          /* #f5f7fa - light gray */
    --foreground: 0 0% 20%;              /* #333 - dark text */

    --card: 0 0% 100%;                   /* #fff */
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --primary: 205 77% 43%;              /* #137DC5 - main blue */
    --primary-foreground: 0 0% 100%;     /* white text */

    --primary-accessible: 205 100% 36%;  /* #0f5f96 - third blue */
    --primary-hover: 205 100% 33%;       /* darker hover */

    --secondary: 205 82% 52%;            /* #2199ea - secondary blue */
    --secondary-foreground: 0 0% 100%;

    --accent: 48 96% 61%;                /* #FACF39 - yellow accent */
    --accent-foreground: 0 0% 20%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 40%;

    --destructive: 0 84% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 88%;
    --input: 0 0% 100%;
    --ring: 205 77% 43%; /* match primary */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 5% 15%;            /* #262627 */
    --foreground: 0 0% 100%;             /* #FFFFFF */
    --card: 0 0% 12%;                    /* #1E1E1E */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 43 100% 73%;              /* #FFD573 */
    --primary-foreground: 0 0% 0%;
    --primary-accessible: 43 100% 73%;
    --primary-hover: 43 89% 60%;

    --secondary: 0 0% 57%;               /* #919191 */
    --secondary-foreground: 0 0% 0%;

    --accent: 43 100% 73%;
    --accent-foreground: 0 0% 0%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 0 0% 30%;
    --input: 0 0% 20%;
    --ring: 43 100% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
